<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CacheService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NetworkService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WeNovel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeNovelKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A1D40A51EBC77F80031D199</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A48C2991EB2003E00ACE032</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB0311D1EC02FA9001D123D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AFCB14E1EB09488004F697D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
